.fa-arrow-right{
    color: red;
}

nav{
    height: 100px;
}

nav div img{
    width: 200px;

}

.div-remove div{
    padding: 0 10px;
}

h1 span.display-4{
    font-family:cursive;
}

.card img{
    height: 150px;
    background-color: white;
    border-radius: 10px;
}

.section2,.section3,.section4,footer{
    background-color: #0F0F0F;
}

span .rotate{
    rotate: -45deg;
}

div.gap{
    gap: 20px 0;
}

div.gap1{
    gap: 20px 20px;
}

.gap1>div{
    border-radius: 10px;
}

.logo-footer{
    width: 150px;
}

.iconss{
    padding: 10px;
    border-radius: 50%;

}

.menu{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    background-color: white;
    width: 280px;
    height: 100vh;
    box-shadow: 2px 0 5px grey;
    display: none;
}

.menu-show{
    
}

.menu-show:hover .menu{
    display: block;
    
}

span .cross-menu{
    cursor: pointer;
}


.menu div {
    margin: 20px;
    border-bottom: 1px solid grey;
    padding: 5px;
    color: black;
}

@keyframes menu{
    0%{
        left: -285px;
    }

    100%{
        left: 0%;
    }
}

.menu{
    animation: menu 2s ;
}


@media only screen and (max-width:930px){
    .menu-items{
        display: none;
    }
    .nav-logo{
        width: 120px;
    }

    .nav-button{
        width: 170px;
        font-size: 12px;
        padding: 5px !important;
        
    }
}





