.fa-arrow-right{
    color: red;
}

nav{
    height: 100px;
}

nav div img{
    width: 200px;

}

.div-remove div{
    padding: 0 10px;
}

h1 span.display-4{
    font-family:cursive;
}

.card img{
    height: 150px;
    background-color: white;
    border-radius: 10px;
}

.section2,.section3,.section4,footer{
    background-color: #0F0F0F;
}

span .rotate{
    rotate: -45deg;
}

div.gap{
    gap: 20px 0;
}

div.gap1{
    gap: 20px 20px;
}

.gap1>div{
    border-radius: 10px;
}

.logo-footer{
    width: 150px;
}

.iconss{
    padding: 10px;
    border-radius: 50%;

}







